{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<main>
    <div>
        <strong>{% trans "Menu:" %}</strong>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'account_email' %}">Cambiar {% trans "E-mail" %}</a></li>
          <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
          {% else %}
          <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
          <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
          {% endif %}
        </ul>
      </div>
    <div class="container">
      <!--Section: Products v.3-->
      <section class="mb-4">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <div class="col-6 offset-3">
            <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-warning" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>


          </div>
        </div>
      </section>
    </div>
  </main>
  {% endblock %}